language: cpp

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libcurl4-openssl-dev libjsoncpp-dev libargtable2-dev libboost-test-dev

env:
 - SOCKET_SERVER=NO SOCKET_CLIENT=NO HTTP_SERVER_MONGOOSE=YES HTTP_CLIENT_CURL=YES
 - SOCKET_SERVER=YES SOCKET_CLIENT=YES HTTP_SERVER_MONGOOSE=YES HTTP_CLIENT_CURL=YES
 - COMPILE_STUBGEN=NO


compiler:
  - clang
  - gcc

script: 
    mkdir -p build && cd build && cmake -DSOCKET_SERVER=${SOCKET_SERVER} -DSOCKET_CLIENT=${SOCKET_CLIENT} -DHTTP_CLIENT_CURL=${HTTP_CLIENT_CURL} -DHTTP_SERVER_MONGOOSE=${HTTP_SERVER_MONGOOSE} .. && make && make test && sudo make install && g++ ../src/examples/simpleclient.cpp -ljsonrpccpp-client -ljsoncpp -ljsonrpccpp-common -lcurl -o sampleclient && g++ ../src/examples/simpleserver.cpp -ljsonrpccpp-server -ljsoncpp -ljsonrpccpp-common -o sampleserver
